*{
    font-family: 'Ubuntu';
}

section{
    padding-top: 6%;
    position:relative;
    height: max-content;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
}

section div{
    width: max-content;
    height: max-content;
    margin-top: 30px;
    margin-left: 12%;
    margin-bottom:30px;
}

.iconsdiv{
    margin-top: 0%;
    display: flex;
    margin-left: 0%;
}

.iconsdiv .icon{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-top: 10%;
}

.fa-solid{
font-size: 16px;
line-height: 360%;
word-spacing: 0px;
}

.iconsdiv .icontext{
    margin-top: 5%;
    font-size: 20px;
    line-height: 210%;
    margin-left: 6%;
}
/*----- Form Styling Here -----*/

form{
    position: relative;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom:30px;
    bottom: 15%;
    border-radius: 2%;
    padding: 1%;
    width: 420px;
    height: 450;    
    background:whitesmoke;
    box-shadow: 10px 10px 10px 0px rgb(209, 211, 211);
}

label{
    font-size: 20px;
}

form input[type="text"], input[type="email"], textarea{
    width: 97%;
    padding: 2%;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: rgb(229, 231, 233);
}

form input:focus, textarea:focus{
    background-color: rgb(218, 223, 226);
}

button{
    width: 101%;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color:  rgb(0, 0, 0);
    padding: 2%;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

