:root{
    --gra: linear-gradient(45deg, cyan, royalblue);
}

html{
    scroll-behavior:smooth;
}
body{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    background:rgb(255, 255, 255);
    font-family: 'Ubuntu';
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgb(83, 106, 128);
}

#navbar{
    opacity:1 ;
    z-index: 1;
    width: 100%;
    height: max-content;
    display:flex;
    background: #cfcfcf;
    position: fixed;
    justify-content: space-between;
}

#navbar div{
    display: flex;
}

#logo{
    flex: 0.2;
    justify-content: space-between;
}

#navbar img{     
    padding-top: 12px;
    padding-left: 18px;  
    width: 100px;
    height: 40px;
}

#navbarlinks{
    padding: 5px;
    flex: 0.3;
    justify-content: space-between;
}

#cart{
    flex: 0.1;
    width: 150%;
    height: 100%;
    justify-content: space-between;
}

/* News Letter Styling Here */

.newsletter{
    
    width: 100%;
    background-image:url(/img/newsletter2.jpg);
    background-size:cover;
    height: 20vh;
    padding: 0%;
    margin: 0%;
    display: flex;
}

.newsletter div{

    width: max-content;
    padding:1%;
    color: black;
    width: 100%;
    height: max-content;
    text-align: center;
}

.newsletter input{ 
    margin-top: 3%;
    margin-right: 0;
    padding: 2%;
    font-size: 22px;
    outline: none;
    border:none;
}

.newsletter button{
    color: white;
    background-color: black;
    margin-left: 0;
    padding: 2%;
    font-size: 22px;
    outline: none;
    border:none;
}

/* Footer Styling Here */


footer{
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    background-color:rgb(219, 214, 214);
}

footer div{

    margin-left: 11%;
    height: max-content;
}

footer div img{
    margin-top: 25px;
}

footer div p, pre{
    font-size: 20px;
}

.socialmedia{
    margin-left: 0%;
    margin-top: 0%;
}

.fa-brands{
   font-size: 25px;
   margin-right: 10%;
}

.copyright{
    font-weight: bold;
    position: relative;
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 0%;
    background-color: rgb(219, 214, 214);
    font-size: 15px;
    color: black;
}

/* Loader Styling Here */

/* #loader{
    width: 100%;
    height: 100vh;
    z-index: 100;
} */

/* Hero Box Styling Here */

#hero{
    background-image: url(/img/Hero1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

}

.herocontent{
    position: relative;
    font-size: 25px;
    padding-top: 10% ;
    padding-left: 14%;
    line-height: 20px;
}

.herocontent a{
background-color: rgb(0, 0, 0);
color: white;
font-size: 22px;
padding: 0.8%;
padding-right: 3%;
padding-left: 3%;
border: 2px solid rgb(0, 0, 0);
border-radius: 3px;
font-weight: bold;
}

.herocontent a:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

/* Feature Box Styling Here */

#Featuresection{
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
    height: max-content;
    padding-top: 2%;
    padding-bottom: 1.5%;
}

#Featuresection div{
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 14px;
    width: max-content;
    height: max-content;
    text-align: center;
    padding: 1%;

    /* box-shadow: 5px 5px 5px 0px rgb(200, 200, 201); */
}

#Featuresection div h4{
    margin: 0%;
}

/* Products session here*/

.products{
    width: 100%;
    height: max-content;
    padding: 0%;
    margin: 0%;
}

.products img{
    border-radius: 20px;
    padding: 2%;
    height: 40vh;
    width: 40vh;
}

#containerdiv{
    margin-bottom: 2%;
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-evenly;
}

#productdetails{
    border: 2px rgb(160, 158, 158) solid;
    border-radius: 20px;
    height: 370px;
    width: 275px;
    line-height: 50%;
    text-align: center;
}

#productdetails:hover{
    box-shadow: 0px 3px 4px 4px rgb(231, 224, 224);
}

.goup{
    position: fixed;
    width: max-content;
    height: max-content;
    z-index: 1;
    bottom: 2%;
    right: 1%;
    background-color: rgb(3, 192, 88);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 50%;
    padding: 1%;
}

#hearticon:hover{
    background: var(--gra);
    cursor: pointer;

}